// COLORS
$color-primary: #1565C0;
$color-primary-dark: #0D47A1;
$color-primary-light: #90CAF9;

$color-surface: #E3F2FD;
$color-surface-dark: #BBDEFB;

$color-gray-dark: #777;


// FONT
$default-font-size: 1.6rem;
