.header__nav {
  background-color: #1565C0;
  color: white;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;

  &--logo-1 {
    outline: none;
    font-size: 2rem;
    font-weight: 100;
    text-transform: uppercase;
  }

  &--logo-2 {
    font-weight: 900;
    text-transform: uppercase;
  }

  &-btn {
    color: #BBDEFB;
    border-color: #90CAF9;
    font-weight: 900;
  }
}
