<!--The mat-toolbar is our header. It is where the hanburger and the radar/rainfall buttons will go.-->
<header>
  <mat-toolbar class="header__nav mat-elevation-z4">
    <a *ngIf="userId === 'null'" [href]="googleLoginUrl"><button class="header__nav header__nav-btn"
        mat-stroked-button>LOGIN</button></a>
    <button *ngIf="userId !== 'null'" mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu>
      <button mat-menu-item routerLink="/add-contacts">
        Edit Contacts
      </button>
      <button mat-menu-item routerLink="/user-reports">
        Flood Reports
      </button>
      <mat-divider></mat-divider>

      <button mat-menu-item><a [href]="googleLogoutUrl" (click)='logout()'>Logout
        </a>
      </button>

    </mat-menu>
    <span class="u-fill-remaining-space"></span>

    <span [routerLink]="['/']">
      <h1 class="header__nav--logo-1">Rising<span class="header__nav--logo-2">Waters</span></h1>
    </span>


    <span class="u-fill-remaining-space"></span>

    <button *ngIf="rainfall !== undefined && rainfall !== null" mat-stroked-button class="header__nav header__nav-btn"
      (click)='openDialog()'>
      {{rainfall}}"
    </button>

    <button *ngIf="rainfall === undefined || rainfall === null" mat-stroked-button class="header__nav header__nav-btn"
      (click)='openDialog()'>
      RADAR
    </button>
  </mat-toolbar>
</header>
