<div class="row section-connect-contacts">
  <div class="section-connect-contacts__header">
    <h1 mat-headline>Contact friends</h1>
    <p class="mat-body-1">Choose a scenario below and we'll get you in touch with your emergency contacts.</p>
    <button mat-stroked-button color="primary" routerLink="/add-contacts">EDIT CONTACTS</button>
  </div>
  <mat-divider></mat-divider>
  <div class="mat-elevation-z2 section-connect-contacts__body" routerLink="/safe-moving">
    <div class="col-1-of-4">
      <button mat-fab color="primary">
        <mat-icon>message</mat-icon>
      </button>
    </div>
    <div class="col-3-of-4 section-connect-contacts__body--head">
      <h1 mat-headline>I'm safe, and I'm moving.</h1>
    </div>
  </div>

  <div class="mat-elevation-z2 section-connect-contacts__body" routerLink="/stranded-okay">
    <div class="col-1-of-4">

      <button mat-fab color="primary">
        <mat-icon>
          message
        </mat-icon>
      </button>
    </div>
    <div class="col-3-of-4">
      <h1 mat-headline class="section-connect-contacts__body--head">I'm stranded, but I'm okay.</h1>
    </div>

  </div>
  <div class="mat-elevation-z2 section-connect-contacts__body" routerLink="/need-help">
    <div class="col-1-of-4">
      <button mat-fab color="warn">
        <mat-icon>
          message
        </mat-icon>
      </button>
    </div>
    <div class="col-3-of-4">
      <h1 mat-headline class="section-connect-contacts__body--head">I'm stranded, and I need help.</h1>
    </div>
  </div>
  <div class="u-vertical-filler"></div>
</div>

<!-- <div class="container">
  <div class="spacer"></div>

  <div class="row" routerLink="/route">
    <div class="col-2">
      <img id="find-route" src="../../assets/images/HomePage find route@2x.png" alt="">
    </div>
    <div class="col-8 header-text">I'm safe and I'm moving<br>
      <p class="mat-body-1">On the move? Send a message to your conctacts to let them know.
      </p>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="row" routerLink="/create-report">
    <div class="col-2">
      <img id="report-flooding" src="../../assets/images/HomePage report flooding.png" alt="">
    </div>
    <div class="col-8 header-text">I'm stranded, but I'm okay<br>
      <p class="mat-body-1">Send your location to your contacts until you can get moving again.
      </p>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="row" routerLink="/connect-contacts">
    <div class="col-2">
      <img id="connect-contacts" src="../../assets/images/HomePage contact.png" alt="">
    </div>
    <div class="col-8 header-text">I'm stranded and I need help<br>
      <p class="mat-body-1">Connect to emergency services and message your contacts.
      </p>
    </div>
  </div>
</div> -->






<!-- <div class="container">
  <app-contact-safe-moving></app-contact-safe-moving>
  <app-contact-stranded-okay></app-contact-stranded-okay>
  <app-contact-need-help></app-contact-need-help>
</div> -->
