.section-connect-contacts {
  display: block;
  width: 90%;

  &__header {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  &__body {
    background-color: #fff;
    margin-top: 2rem;
    height: 10rem;
    padding: 2rem;
  }
}
