footer {
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  z-index: 1000;
}

.nav {
  height: 5.6rem;

  &__link {
    outline: none;
    color: #90CAF9;

    &:active {
      color: #BBDEFB;
    }

    &--icon {
      font-size: 2.4rem;
      padding-top: 1rem;
    }

    &--text {
      font-size: .7rem;
      margin-top: -1.5rem;
    }
  }
}
